.sel-summary {
    display: flex;
    flex-wrap: wrap;
    &__text {
        flex: 0 0 50%;
    }
    &__image {
        display: flex;
        flex: 0 0 50%;
        justify-content: center;
        img {
            max-width: 150px;
        }
    }
    &__price {
        flex: 0 0 100%;
    }
    &__description {
        flex: 0 0 100%;
    }
}
