.product {
    width: 250px;
    &__details {
        position: relative;
    }
    &:hover {
        .overlay {
            display: block;
        }
    }
}
.overlay {
    display: none;
    position: absolute;
    width: 250px;
    height: 100%;
    top: 0%;
    background-color: rgba(#000000, 0.2);
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    &__content {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__button {
        margin-right: 0px;
        cursor: pointer;
    }
    &__price {
        &--regular {
            position: relative;
            color: red;
            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: 50%;
                right: 0;
                border-top: 2px solid;
                border-color: inherit;
                transform: rotate(-10deg);
            }
        }
    }
}
