.orderfield {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 10px;
        & > :nth-child(odd) {
            margin-right: 10px;
        }
    }
    &__input,
    &__select,
    &__textarea {
        padding: 5px;
        margin-top: 10px;
    }

    &__input,
    &__select {
        flex: 0 0 calc(50% - 5px);
    }
    &__textarea {
        flex: 0 0 100%;
        margin-right: 0px !important;
    }
    &__wrapper .error {
        border: solid 1px red;
        color: red;
        &::placeholder {
            color: red;
        }
    }
    &__checkbox {
        padding: 10px 40px;
    }
}
.react-datepicker-wrapper {
    position: relative;
    flex: 0 0 calc(50% - 5px);
    width: 100%;
    input {
        width: 100%;
        margin-top: 10px;
        padding: 5px;
    }
}

.checkbox_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    margin-top: 10px;
    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        margin: 5px;
        position: absolute;
        top: 5px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
    &:hover input ~ .checkmark {
        background-color: #ccc;
    }
    & input:checked ~ .checkmark {
        background-color: #2196f3;
    }
    & input:checked ~ .checkmark::after {
        display: block;
    }
    & .checkmark::after {
        left: 10px;
        top: 7px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
