.two-panel {
	> div {
		padding-right: 2rem;
	}
	.service {
		height: 200px;
		transition: all 1s ease;
		flex: 1 0 0;
		svg {
			max-width: 100%;
			height: 100%;
			width: 100%;
			rect {
				transition: all 0.4s ease;
			}
		}
		&.selected {
			height: 225px;
			transition: all 1s ease;
			flex: 2 0 0;
		}
	}
}
