.progress-tracker {
	border-top: 2px dashed red;
	.progress-icon {
		background-color: red;
		height: 25px;
		width: 25px;
		position: absolute;
		top: 5px;
		left: 0px;
		transition: left 0.4s ease;
	}
	.progress-slider {
		justify-content: space-between;
	}
	.progress-slide {
	}
	.active {
		color: red;
	}
}
